node_modules/
.features-gen/
test-results/
playwright-report/
reports/
*.log
.env
.env.local
config/environments/*.local.json
certs/**/*.pem
certs/**/*.key
certs/**/*.crt

.idea/
.DS_Store

# secrete locale QA
qa.env
*.local.env
